@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@400;500&display=swap');

body {
    font: 16px/1.4 'Roboto', sans-serif;
    background: #2B1887;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
